@import url("reset.css");
@import url("global.css");
@import url("components/_navigator.css");
@import url("components/_pills.css");
@import url("components/_link-button.css");
@import url("components/_gallery.css");

.s-wrapper {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.s-wrapper video{
    position: fixed;
    height: 100vh;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 100%;
}

.s-wrapper .s-left-column {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding-right: 50px;
  position: fixed;
  top: 0;
  width: 100px;
  z-index: 1;
}

.s-wrapper .s-main-content {
  height: 100%;
  padding-left: 130px;
  position: relative;
  width: 100%;
}

.s-wrapper .s-main-content__top {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: flex-end;
}

.s-wrapper .s-main-content .s-logo img {
  margin-bottom: 30px;
  margin-left: 0;
  margin-top: 50px;
}

.s-wrapper .s-main-content__top .s-description {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  max-width: 50%;
  padding: 20px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p {
  color: white;
  line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description .pills {
  margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
  padding: 20px;
  padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul {
  display: flex;
  flex-direction: row;
}

.s-spiderman-01-01 {
  background-image: url("../images/spiderman-tobey/movie-01/background.png");
  background-size: cover;
}

.gallery{
    padding: 20px;
    padding-left: 0;
}

.gallery ul{
    display: flex;
    flex-direction: row;
}

.gallery ul li{
    margin-left: 25px;
}

.gallery ul li:first-child{
    margin-left: 0px;
}

.gallery ul li a img{
    border: solid 6px white;
    border-radius: 15px;
}

.navigator{
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
    position: relative;
    width: 100%;
}

.navigator ul li{
    margin: 60px 0;
}

.navigator ul li:first-child{
    margin-top: 0;
}

.navigator ul li:last-child{
    margin-bottom: 0;
}

.navigator ul li a{
    align-items: center;
    background-color: black;
    border: solid 2px white;
    border-radius: 50%;
    color: white;
    display: flex;
    height: 45px;
    justify-content: center;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
    width: 45px;
}

.navigator::before{
    background-color: white;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 0;
}

.navigator ul{
    z-index: 1;
}

.navigator ul li a:hover, .navigator ul li a:active{
    background-color: white;
    color: var(--primary-color);
}

.navigator .navigator__icon{
    position: absolute;
    top: -20px;
}